body {
	font-family: neue-haas-unica, sans-serif;
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	font-weight: 500;
}
// light: 300
// regular: 400,
// medium: 500,
// bold: 600,
// heavy: 700

h1 {
	font-size: rem(48);
	letter-spacing: -0.5px;
	color: color(ParlorBlack);
}
p {
	font-size: rem(16);
	line-height: 2;
	letter-spacing: 0;
	color: color(ParlorBlack);
	&.error {
		color: red;
	}
}
div + p {
	margin: 0;
}
